{% extends 'template_index.html' %}
{% load compress %}

{% block title %}
    Dokter
{% endblock title %}

{% block _css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="/static/sass/form.sass" />
    {% endcompress %}
{% endblock _css %}

{% block body %}

<div class="content-wrapper" style="margin-bottom: 20px">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="content-body relative-ib" id="content-body">
            <div class="row text-center">
                <h3 class="mb-20">ADD Dokter</h3>
                <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% comment %} {{form.as_p}} {% endcomment %}
                    <ul class="list-style-none mr-35">
                        <li><label for="nama" class="mb-10">Nama</label></li>
                        <li>{{form.Nama}}</li>
                        <li><label for="Jenkel" class="mb-10">Jenis Kelamin</label></li>
                        <li>{{form.Jenkel}}</li>
                        <li><label for="deskripsi" class="mb-10">tgl_lahir</label></li>
                        <li>{{form.tgl_lahir}}</li>
                        <li><label for="pengalaman" class="mb-10">Pengalaman</label></li>
                        <li>{{form.pengalaman}}</li>
                        <li><label for="pendidikan" class="mb-10">Pendidikan</label></li>
                        <li>{{form.pendidikan}}</li>
                        <li><label for="file-upload-field" class="mb-10">Image</label></li>
                        <li>
                            <div class="file-upload-wrapper" data-text="Select your image!">
                                {{form.image}}
                            </div>
                        </li>
                        <li style="{% if user.role == 'D' %}display: none{% endif %}"><label for="rumahsakit" class="mb-10">Rumah Sakit</label></li>
                        <li style="{% if user.role == 'D' %}display: none{% endif %}">
                            {{form.rumahsakit}}
                        </li>
                        <li><label for="spesialis" class="mb-10">Spesialis</label></li>
                        <li>
                            {{form.spesialis}}
                        </li>
                        <li>
                            <input type="submit">
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </section>
</div>

{% endblock body %}

{% block javascript %}
    <script src="/static/js/multiselect.min.js"></script>
    <script>
        $("form").on("change", ".file-upload-field", function(){
            $(this).parent(".file-upload-wrapper").attr("data-text", $(this).val().replace(/.*(\/|\\)/, ''));
        });
    </script>
    <script>
    $(document).ready(function() {
        // make code pretty
        window.prettyPrint && prettyPrint();

        $('#rumahsakit').multiselect({
            search: {
                left: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
                right: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
            },
            fireSearch: function(value) {
                return value.length > 3;
            }
        });
        $('#spesialis').multiselect({
            search: {
                left: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
                right: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
            },
            fireSearch: function(value) {
                return value.length > 3;
            }
        });
    });
    </script>
{% endblock javascript %}