{% extends 'template_index.html' %}
{% load compress %}

{% block title %}
    Dokter
{% endblock title %}

{% block _css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="/static/sass/form.sass" />
    {% endcompress %}
{% endblock _css %}

{% block body %}

<div class="content-wrapper" style="margin-bottom: 20px">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <div class="content-body relative-ib" id="content-body">
                        {% comment %} {{form.as_p}} {% endcomment %}
                            <ul class="list-style-none mr-35 pt-10 pb-10">
                                <li><img id="img-preview" src="{% if image %} /media/{{image}} {% else %} /media/img/dokter/default.png {% endif %}" class="img-circle mb-10"></li>
                                <li>
                                    <div class="file-upload-wrapper" data-text="Select your image!">
                                        {{form.image}}
                                    </div>
                                </li>
                                <li>
                                    <div class="form__group field">
                                        {{form.Nama}}
                                        <label for="nama" class="form__label">Nama</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form__group field">
                                        {{form.pengalaman}}
                                        <label for="pengalaman" class="form__label">Pengalaman</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form__group field">
                                        {{form.pendidikan}}
                                        <label for="pengalaman" class="form__label">Pendidikan</label>
                                    </div>
                                </li>
                            </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="content-body relative-ib" id="content-body">
                        <ul class="list-style-none mr-35 pt-10 pb-10">
                            <li><label for="Jenkel" class="mb-10">Jenis Kelamin</label></li>
                            <li>{{form.Jenkel}}</li>
                            <li>
                                <div class="form__group field">
                                    {{form.tgl_lahir}}
                                    <label for="tgl_lahir" class="form__label">Tanggal Lahir</label>
                                </div>
                            </li>
                            <li style="{% if user.role == 'D' %}display: none{% endif %}"><label for="rumahsakit" class="mb-10">Rumah Sakit</label></li>
                            <li style="{% if user.role == 'D' %}display: none{% endif %}">
                                {{form.rumahsakit}}
                            </li>
                            <li><label for="spesialis" class="mb-10">Spesialis</label></li>
                            <li>
                                {{form.spesialis}}
                            </li>
                            <li>
                                <button class="btn btn-1">
                                    <svg>
                                        <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                                    </svg>
                                    Submit
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>

{% endblock body %}

{% block javascript %}
    <script src="/static/js/multiselect.min.js"></script>
    <script>
        $("form").on("change", ".file-upload-field", function(){
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#img-preview').attr('src', e.target.result);
            }
            reader.readAsDataURL(this.files[0]); 
            $(this).parent(".file-upload-wrapper").attr("data-text", $(this).val().replace(/.*(\/|\\)/, ''));
        });
    </script>
    <script>
    $(document).ready(function() {
        // make code pretty
        window.prettyPrint && prettyPrint();

        $('#rumahsakit').multiselect({
            search: {
                left: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
                right: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
            },
            fireSearch: function(value) {
                return value.length > 3;
            }
        });
        $('#spesialis').multiselect({
            search: {
                left: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
                right: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
            },
            fireSearch: function(value) {
                return value.length > 3;
            }
        });
    });
    </script>
{% endblock javascript %}