{% extends 'template_index.html' %}

{% block title %}
    Dokter
{% endblock title %}

{% block body %}
    

    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="text-right">
                <input type="text" id="search" name="search" placeholder="search" class="search-box"><br>
            </div>
            <div>
                <div class='scrollmenu' id='sp'>
                <a value="" id="all" class="btn-active">All</a>
                {% for spesialis in spesialis %}
                    <a id="{{spesialis.id}}">{{spesialis.spesialis}}</a>
                {% endfor %}
            </div>
        <ol class="breadcrumb">
            
        </ol>
        </section>
        
        <section class="content container-fluid relative-ib">
            {% if user.is_authenticated %}
                {% if user.role == 'A' %}
                    <div class="mb-10">
                        <div class="right-icon-2">
                            <a href=""><img src="/static/img/add.jpg" alt="add-icon" class="icon-2"></a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            <div id="replaceable-content">
                {% include 'dokter/dokter-result-partial.html' %}
            </div>
        </section>
    </div>
{% endblock body %}

    {% comment %} Live Search {% endcomment %}
{% block css %}
    
{% endblock css %}


{% block javascript %}
    <script src='/static/js/navbar.js'></script>
    <script>
        const search = $('#search')
        const artists_div = $('#replaceable-content')
        const endpoint = '/dokter/'
        const delay_by_in_ms = 300
        let spesialis = ''
        let scheduled_function = false

        let ajax_call = function (endpoint, request_parameters) {
            $.getJSON(endpoint, request_parameters)
                .done(response => {
                    artists_div.fadeTo('fast', 0).promise().then(() => {
                        artists_div.html(response['html_from_view'])
                        artists_div.fadeTo('fast', 1)
                    })
                })
        }

        function send_request() {
            const request_parameters = {
                dokter: $(search).val(),
                spesialis: $(spesialis).attr('id')
            }

            if (scheduled_function) {
                clearTimeout(scheduled_function)
            }

            

            scheduled_function = setTimeout(ajax_call, delay_by_in_ms, endpoint, request_parameters)
        }

        $(document).ready(function() {
            $('#sp').dragScroll({})
        });

        $('#all').on('click', function () {
            $(spesialis).removeClass('btn-active')
            spesialis = ''
            $(this).addClass('btn-active')
            send_request()
        })

        {% for spesialis in spesialis %}
            $('#{{spesialis.id}}').on('click', function () {
                $(spesialis).removeClass('btn-active')
                $('#all').removeClass('btn-active')
                spesialis = '#{{spesialis.id}}'
                $(this).addClass('btn-active')
                send_request()
            })
        {% endfor %}

        search.on('keyup', function () {
            send_request()
        })
    </script>

    {% comment %} Live Search {% endcomment %}
{% endblock javascript %}

</html>