asgiref==3.2.10
astroid==2.4.2
colorama==0.4.3
Cython==0.29.21
dj-database-url==0.5.0
Django==3.1.1
django-appconf==1.0.4
django-compressor==2.4
django-libsass==0.8
isort==5.5.1
lazy-object-proxy==1.4.3
libsass==0.20.1
mccabe==0.6.1
numpy==1.19.2
Pillow==7.2.0
psycopg2==2.8.6
pylint==2.6.0
pylint-django==2.3.0
pylint-plugin-utils==0.6
pytz==2020.1
rcssmin==1.0.6
rjsmin==1.1.0
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
typed-ast==1.4.1
wrapt==1.12.1
