{% extends 'template_index.html' %}

{% block title %}
    Rumah Sakit
{% endblock title %}

{% block body %}

        <div class="content-wrapper" style="margin-bottom: 20px">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class='scrollmenu' id='sp'>
                    <a href="{% url 'rs_selected' rs_requested %}" id="btn-rs" class="animated-btn-light animated-btn-3-lg">Rumah Sakit</a>
                    <a href="{% url 'rs_dokter' rs_requested %}" id="btn-dokter" class="animated-btn-active">Dokter</a>
                    {% if user.is_authenticated %}
                        {% for rumahsakit in rumahsakits %}
                            {% if user.role == 'A'%}
                                <a href="{% url 'rs_update' rumahsakit.id %}" id="btn-dokter" class="animated-btn-light animated-btn-3-md">Edit</a>
                                <a href="{% url 'rs_delete' rumahsakit.id %}" id="btn-dokter" class="animated-btn-light animated-btn-3-md">Delete</a>
                            {% elif user.role == 'D'%}
                                {% for userrs in userdata.rumahsakit %}
                                    {% if rumahsakit.id == userrs.rumahsakit %}
                                        <a href="{% url 'rs_update' rumahsakit.id %}" id="btn-dokter" class="animated-btn-light animated-btn-3-md">Edit</a>
                                        <a href="{% url 'rs_delete' rumahsakit.id %}" id="btn-dokter" class="animated-btn-light animated-btn-3-md">Delete</a>
                                    {% endif %}    
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                
                <div class="content container-fluid" id="content-body">
                    <div class="row">
                        <div>
                            <div class='scrollmenu' id='spe'>
                            <a value="" id="all" class="btn-active">All</a>
                            {% for spesialis in spesialis %}
                                <a id="{{spesialis.id}}">{{spesialis.spesialis}}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="replaceable-content">
                        {% include 'dokter/dokter-result-partial.html' %}
                    </div>
                </div>
            </section>
        </div>
    {% endblock body %}

    {% block javascript %}
        <script>
            const artists_div = $('#replaceable-content')
            const endpoint = '{{request.path}}'
            const delay_by_in_ms = 300
            let spesialis = ''
            let scheduled_function = false

            let ajax_call = function (endpoint, request_parameters) {
                $.getJSON(endpoint, request_parameters)
                    .done(response => {
                        artists_div.fadeTo('fast', 0).promise().then(() => {
                            artists_div.html(response['html_from_view'])
                            artists_div.fadeTo('fast', 1)
                        })
                    })
            }

            function send_request() {
                const request_parameters = {
                    spesialis: $(spesialis).attr('id')
                }

                if (scheduled_function) {
                    clearTimeout(scheduled_function)
                }

                

                scheduled_function = setTimeout(ajax_call, delay_by_in_ms, endpoint, request_parameters)
            }

            $(document).ready(function() {
                $('#spe').dragScroll({})
            });

            $('#all').on('click', function () {
                $(spesialis).removeClass('btn-active')
                spesialis = ''
                $(this).addClass('btn-active')
                send_request()
            })

            {% for spesialis in spesialis %}
                $('#{{spesialis.id}}').on('click', function () {
                    $(spesialis).removeClass('btn-active')
                    $('#all').removeClass('btn-active')
                    spesialis = '#{{spesialis.id}}'
                    $(this).addClass('btn-active')
                    send_request()
                })
            {% endfor %}
        </script>
    {% endblock javascript %}
</html>