{% extends 'template_index.html' %}
{% load custom_tags %}

{% block title %}
    Rumah Sakit
{% endblock title %}

{% block body %}

        <div class="content-wrapper" style="margin-bottom: 20px">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class='scrollmenu' id='sp'>
                    <a href="{% url 'rs_selected' rs_requested %}" id="btn-rs" class="animated-btn-active">Rumah Sakit</a>
                    <a href="{% url 'rs_dokter' rs_requested %}" id="btn-dokter" class="animated-btn-light animated-btn-3-md">Dokter</a>
                </div>
                <div class="content-body relative-ib" id="content-body">
                    {% for rs in rumahsakit %}
                        {% if user.is_authenticated %}
                            {% direktur_auth rumahsakit userdata.rumahsakit as direktur_auth %}
                                {% if user.role == 'A' or direktur_auth %}
                                    <div class="right-icon-1">
                                        <a href="{% url 'rs_update' rs.id %}"><img src="/static/img/edit.png" alt="edit-icon" class="icon-2 mr-10"></a>
                                        <a href="{% url 'rs_delete' rs.id %}"><img src="/static/img/deleted.png" alt="delete-icon" class="icon-2"></a>
                                    </div>
                                {% endif %}
                        {% endif %}
                        <img src='/media/{{rs.image}}/'>
                        <div class="pr-20">
                            <h3 class="title">{{rs.nama}}</h3>
                            <p class=" pl-20"><img src='/static/img/location.png' class="mr-15 icon-3-sm"><a target="_blank" href="https://maps.google.com/?q={{rs.nama}}" class="text-primary">{{rs.alamat}}</a></p>
                            <p class="text-primary pl-20"><img src='/static/img/phone.png' class="mr-5 icon-3-md">{{rs.no_telp}}</p>
                            <p class="pl-20">{{rs.deskripsi}}</p>
                        </div>
                    {% endfor %}
                    <div class="row pr-20">
                        <div class="col-md-6 pr-20">
                            <h4 class='pl-20 bold'>Poliklinik</h4>
                            <ul id="poliklinik" class="pl-20 list-style-none">
                                {% for poli in poliklinik %}
                                    <li class="list-group-line tooltips">
                                        {{poli.poliklinik}}
                                        <div class="tooltiptext">
                                            <p class="tooltiptext-title"><i class="fa fa-question-circle"></i> {{poli.poliklinik}}</p>
                                            <div class="tooltiptext-description">
                                                {{poli.keterangan}}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <a href="#poliklinik" id="showmore" class="text-primary pl-20">show more</a>
                        </div>
                        <div class="col-md-6 pr-20">
                            <h4 class='pl-20 bold'>Fasilitas</h4>
                            <ul id="fasilitas" class="pl-20 list-style-none">
                                {% for fasil in fasilitas %}
                                    <li class="list-group-line">{{fasil.fasilitas}}</li>
                                {% endfor %}
                            </ul>
                            <a href="#fasilitas" id="show_more" class="text-primary pl-20">show more</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    {% endblock body %}

    {% block javascript %}
        <script src='/static/js/showmore.js'></script>
    {% endblock javascript %}
</html>